extends layout

block content
    div#dishes
        div#djumbo1.large.jumbotron.jumbotron-fluid
            .large.jumbotron.jumbotron-fluid#mouthwaterin
                .ui.three.column.padded.grid
                    .ui.row
                        .ui.eight.wide.column
                            .ui.instant.move.reveal
                                .ui.visible.content
                                    .ui.raised.inverted.segment#divinelysegment
                                        .ui.header#mouthwaterin Divinely Inspired
                                .ui.hidden.content
                                    .ui.raised.segment#mouthwaterinhidden
                                        .ui.header#mouthwaterin Mouth Watering
            .large.large.jumbotron.jumbotron-fluid#products 
                .ui.grid.container  
                    .ui.three.column.grid
                        -stuff = foods   
                            each food in foods
                                -item = food
                                    .ui.row#products
                                        .ui.rounded.compact.segment#dsegment
                                            .ui.small.rounded.image
                                                img(src=item.img)
                                            .ui.centered.header#dfoodtitles 
                                                    = item.name
                    
